name: Manual request of parcels from dogis site.

on: [workflow_dispatch]

jobs:
  parse-parcels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm i
      - run: node ./server/index.js
  push-parcel-files:
    - name: Pushing the new parcel files
    - needs: [parse-parcels]
    - run: git config --local user.email "snodgrass.ed@gmail.com"
    - run: git config --local user.name "eis95"
    - run: git add -A
    - run: git commit -a -m "Add changes"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
